img.thumb {
    display: inline-block;
    background: whiteSmoke;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;

    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0px 0px 10px #fff;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: box-shadow .4s ease;
    -moz-transition: box-shadow .4s ease;
    -o-transition: box-shadow .4s ease;
    -ms-transition: box-shadow .4s ease;
    transition: box-shadow .4s ease;
}

img.thumb:hover {
    -moz-box-shadow: 0 0 20px #111;
    -webkit-box-shadow: 0 0 20px #111;
    box-shadow: 0px 0px 20px #111;
    cursor: pointer;
}

img.thumb.selected{
    -moz-box-shadow: 0 0 30px #111;
    -webkit-box-shadow: 0 0 30px #111;
    box-shadow: 0px 0px 30px #111;
}

body {
    font-family: "HelveticaNeue-Light";
}

.pointer{
    cursor: pointer;
}

#ui {
    padding-top: 15px
}

table input, table select {
    margin: 0;
}

table input {
    width: 100%;
}

table select {
    width: 80px;
    height: 20px;
}
