<script src="https://www.google.com/jsapi"></script>
<script>
    google.load("visualization", "1", {packages:["corechart"]});

    user = JSON.parse('{{user|safe}}');
</script>
<script src="/static/js/underscore.js"></script>
<script src="/static/js/backbone.js"></script>
<script src="/static/js/models.js"></script>
<script src="/static/js/views.js"></script>
<script src="/static/js/app.js"></script>


<div class="container js-nav-container" id="todo-container">
    <h1>Todos</h1>
    <div id="ui">
        <button style="float:right" class="btn" id="add-task-btn">Add Task</button>
    </div>
    <div id="tasks-container">

    </div>
</div>

<div class="container js-nav-container hide" id="profile-container">
    <h1>Profile</h1>
    <div class="container">
        Name: <input type="text" placeholder="Hendy Chua" /><br />
        Email: <input type="text" placeholder="test@test.com" /><br />
        Password: <input type="password" placeholder = "password" /><br />
    </div>
</div>


<div class="container js-nav-container hide" id="analytics-container">
    <h1>Analytics</h1>
    <div id="analytics-container" class="container">
    </div>
</div>

<div class="container js-nav-container hide" id="expenses-container">
    <h1>Expenses</h1>
</div>