<script src="https://www.google.com/jsapi"></script>
<script>
    google.load("visualization", "1", {packages:["corechart"]});
    
    user = JSON.parse('{{user|safe}}');
</script>
<script src="/static/js/jq-ui.js"></script>
<script src="/static/js/underscore.js"></script>
<script src="/static/js/backbone.js"></script>
<script src="/static/js/models.js"></script>
<script src="/static/js/views.js"></script>
<script src="/static/js/app.js"></script>


<div class="container js-nav-container" id="todo-container">

    <div id="tabs">
        <ul>
            <li><a href="#incomplete-tasks">Incomplete</a></li>
            <li><a href="#complete-tasks">Complete</a></li>
            <li><a href="#deleted-tasks">Deleted</a></li>
        </ul>
        <div id="incomplete-tasks">
            <h3 style="float:left">Incomplete tasks</h3>
            <div id="ui">
                <button style="float:right" class="btn btn-primary" id="add-task-btn">Add Task</button>
            </div>
            <div id="tasks-container" style="clear:both">

            </div>
        </div>
        <div id="complete-tasks">
            <h3 style="float:left">Completed tasks</h3>
            <div id="completed-tasks-container" style="clear:both">

            </div>
        </div>
        <div id="deleted-tasks">
            <h3 style="float:left">Deleted tasks</h3>
            <div id="deleted-tasks-container" style="clear:both">

            </div>
        </div>
    </div>

</div>

<div class="container js-nav-container hide" id="analytics-container" style="height:500px;">
    <h1>Analytics</h1>
    <div id="distribution-graph" class="container" style="height:500px">

    </div>
</div>

<div class="container js-nav-container hide" id="expenses-container">
    <h1>Expenses</h1>
</div>


<div id="dialog-modal" class="hide" title="New Task">
    Title: <input id="dialog-title-input" type="text" placeholder="Title"></input><br />
    Description: <input id="dialog-description-input" type="text" placeholder="Description" style="height:100px; width: 600px"></input><br />
    Assignee: <div id="new-task-assignees"></div>
    <div style="clear:both; float:right">
        <button id="create-task-btn" class="btn">Create Task</button>
    </div>
</div>

