<script src="/static/js/underscore.js"></script>
<script src="/static/js/backbone.js"></script>
<script src="/static/js/models.js"></script>
<script src="/static/js/views.js"></script>
<script src="/static/js/app.js"></script>


<div class="container js-nav-container" id="nav-todo">
    <h1>Todos</h1>
</div>

<div class="container js-nav-container hide" id="nav-profile">
    <h1>Profile</h1>
</div>

<div class="container js-nav-container hide" id="nav-feed">
    <h1>Feed</h1>
</div>

<div class="container js-nav-container hide" id="nav-analytics">
    <h1>Analytics</h1>
</div>

<div class="container js-nav-container hide" id="nav-expenses">
    <h1>Expenses</h1>
</div>