<head>
    <title>Houselife</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <script src="/static/js/jq.js"></script>
    <script src="/static/js/login.js"></script>
</head>
<body>
    {% include "navbar.html" %}
    <div style="height:100px"></div>       
    <div class="container">
    <div class="row">
        <div id="login-container" class="span3 offset2" style="text-align:right">
            <div style="padding-bottom:25px;">
                <img src="/static/img/logo.png" width="250px"><br>
                Making living together fun once again!
            </div>
            <h3>Login</h3>
            <input id="login-username" type="text" placeholder="username"/> <br />
            <input id="login-password" placeholder="password" type="password" /> <br />
            <button id="js-ToSignup" class="btn btn-primary">Sign Up</button>
            <button id="js-login" class="btn btn-info">Login</button>
        </div>
        <div id="signup-container" class="span3 offset2 hide" style="text-align:right">
            <div style="padding-bottom:25px;">
                <img src="/static/img/logo.png" width="250px"><br>
                Making living together fun once again!
            </div>
            <h3>Sign up</h3>
            <input id="signup-username" type="text" placeholder="username"/> <br />
            <input id="signup-email" placeholder="email" type="text" /> <br />
            <input id="signup-password" placeholder="password" type="password" /> <br />
            <button id="js-ToLogin" class="btn btn-primary">Back to login</button>
            <button id="js-signup" class="btn btn-info">Sign Up</button>
        </div>
        <div class="span5 offset1">
            <img src="/static/img/phone.png" height="596px">
        </div>
    </div>
    </div>
</body>
