<script src="/static/js/navbar.js"></script>
<div id="navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">
                <img src=""></img>Houselife
            </a>
            <ul class="nav">
                <li><a class="nav-btn" href="#todo">Todo</a></li>
                <li><a class="nav-btn" href="#profile">Profile</a></li>
                <li><a class="nav-btn" href="#feed">Feed</a></li>
                <li><a class="nav-btn" href="#analytics">Analytics</a></li>
                <li><a class="nav-btn" href="#expenses">Expenses</a></li>
            </ul>
        </div>
    </div>
</div>