<script src="/static/js/navbar.js"></script>
<div id="navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">
                <img src=""></img>Houselife
            </a>
                <ul class="nav">
                    <li><a class="nav-btn">Home</a></li>
                    <li><a class="nav-btn">About</a></li>
                    <li><a class="nav-btn">Contact</a></li>
                </ul>
        </div>
    </div>
</div>